<div id="contattaci">
<h1>Contattaci</h1>

<p>Potete contattare la società ISIEI nei seguenti modi:


  <ul>
    <li>Telefonando al numero 0432 717225</li>
    <li>Inviando un fax al numero 0432 717633</li>
    <li>Inviando una email all'indirizzo info@isiei.it</li>
    <li>Scrivendo o raggiungendoci direttamente nella nostra sede di San Pietro al Natisone (UD, 33049) in Via Alpe Adria, 73</li>
  </ul>
</p>    
<div>
