<div id="organismi_abilitati">
<h1>La novit&agrave; normativa</h1>

<p>Il 23/01/2002 è entrato in vigore il DPR n&#176; 462 del 22/10/01, secondo il quale il datore di lavoro ha l'obbligo di richiedere la verifica periodica dell'impianto di terra e dei dispositivi di protezione contro le scariche atmosferiche. Tale obbilgo va esteso all'intero impianto elettrico nei luoghi con pericolo di esplosione.</p>

<h1>Organismi abilitati</h1>

<p>Le verifiche degli impianti previste dal DPR 462/01 possono essere effettuate soltanto da un Organismo Abilitato dal Ministero delle Attivit&agrave; Produttive o, in alternativa, dall'Asl/Arpa</p>

<p>ISIEI è un Organismo di Ispezione di tipo A ai sensi della Norma UNI CEI EN 45004 ed effettua le verifiche previste dal DPR 462/01 sui seguenti impianti:
<ul>
    <li>Impianti elettrici di messa a terra</li>
    <li>Installazioni e dispositivi di protezione contro le scariche atmosferiche</li>
    <li>Impianti elettrici in luoghi con pericolo di esplosione</li>
</ul>
L'Organismo ha ottenuto dal Ministero delle Attivit&agrave; Produttive la necessaria autorizzazione ad effettuare le verifiche degli impianti (G.Uff. n° 117 del 01/08/2005)<p>
</div>
